.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  padding: 2rem 3rem 2rem 4rem;
}

@media (max-width: 40rem) {
  .modal {
    padding: 2rem 1rem 2rem 4rem;
  }
}
